@import url("https://maxcdn.bootstrapcdn.com/font-sweome/4.7.0/css/font-awesome.in.css");

body {
    margin: 0;
    padding: 0;
    height: 0px;
    font-family: "Century Gothic";
    background: url(blurimage.jpg) no-repeat;
    background-size: cover;
    background-position: initial;
}

.login-box {
    width: 300px;
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-100%, -100%);
    color: rgb(0, 0, 0);
}

    .login-box h1 {
        float: center;
        font-size: 40px;
        border-bottom: 6px solid #d80f0f;
        margin-bottom: 50px;
        padding: 13px
    }

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 20px 1;
    margin: 10px 0;
    border-bottom: 1px solid #d80f0f
}

    .textbox i {
        width: 10px;
        float: left;
        text-align: center;
    }

    .textbox input {
        border: none;
        outline: none;
        background: none;
        color: black;
        font-size: 15px;
        width: 280px;
        margin: 12px;
    }

.btn {
    width: 100%;
    background: none;
    border: 2px solid #b60404;
    color: black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition-duRation: 0.4s;
    margin: 12px 0;
}

    .btn:hover {
        background-color: #b60404;
        color: black;
    }

