
Body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(blurimage.jpg) no-repeat;
    background-size: cover;
}

 
button {
    width: 10%;
    background: none;
    border: 2px solid #ffd800;
    color: black;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition-duRation: 0.4s;
    margin: 12px 0;
}

    button:hover {
        background-color: #ffd800;
        color: black;
    }
